<div class="container">
  <h2>Page de contact M&Co</h2>
  <p>
    Nous vous proposons de sélectionner le motif de votre demande dans le menu ci-dessous.<br>
    Vous y trouverez un texte d'information qui répond aux cas fréquents rencontrés par nos utilisateurs et clients.<br>
    Notre page d'aide en ligne est également disponible. Vous y retrouverez de nombreuses informations sur l'utilisation du site.<br>
    Si vous souhaitez obtenir plus de réponse à votre question, vous pouvez détailler votre demande via le formulaire de contact, nous y apporterons une réponse sous 24 heures.<br>
    Toutefois, si elle nécessite une expertise plus approfondie, ce délai peut être étendu à 6 jours ouvrés.<br><br>
    Attention : notre service client est fermé les jours fériés.
  </p>

  <form>
    <label for="contact-type">Type de la demande</label>
    <select id="contact-type">
      <option>Evenement refusé</option>
      <option>Problème avec événement</option>
      <option>Autre</option>
    </select>
  </form>
</div>
