<app-nav>

</app-nav>

<div id="body" class="container">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Wow ! </strong> Votre événement à été accepté !.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <h2>
    Nous réalisons <em>vos</em> événéments comme <em>vous</em> le souhaitez.
  </h2>
  <p>
    M&Co est le leader régional sur l'organisation de sorties et d'événements, mariages, anniversaires, sorties pro entre
    collaborateurs; nous organisons tout, pour vous et avec vous afin que votre événement soit le plus mémorable possible.<br>
    Avec nos dizaines de partenaires tels que E.Leclerc et LeBoucherDuCoin, nous assurons un service optimal tant bien sur le
    secteur de la déco que du traiteur.
  </p>
  <div class="card">
    <h5 class="card-header">Nos partenaires</h5>
    <div class="card-body">
      <p class="card-text">Venez découvrir les dizaines de partenaires associés à <b>M&Co</b> !</p>
      <a href="#" class="btn btn-primary">Allons-y !</a>
    </div>
  </div>
  <div id="carousel" class="jumbotron">
    <h1 class="display-4">Evenements passés</h1>
    <p class="lead">Venez découvrir les événements ayant déjà eu lieu afin de vous donner une idée de nos compétences.</p>
    <app-event></app-event>
  </div>
</div>
